.addGenetic {
    max-width: 800px;
    margin: 50px auto;
    padding: 50px;
    background-color: #d4f5d0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.backHome {
    display: inline-block;
    margin-bottom: 20px;
    padding: 10px 15px;
    background-color: #20c997;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
}

.title {
    text-align: left;
    margin-bottom: 40px;
    color: #333;
    font-weight: bold;
}

.addGeneticForm {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.inputGroup {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.inputGroup label {
    font-weight: bold;
    color: #333;
}

.inputGroup input,
.inputGroup textarea {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 100%;
    box-sizing: border-box;
}

.inputGroup textarea {
    resize: vertical;
    height: 100px;
}

h4 {
    margin-top: 50px;
    margin-bottom: 10px;
    color: #007bff;
}

.submit-btn {
    padding: 12px 0;
    border: none;
    background-color: #28a745;
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    margin-top: 20px;
}

.submit-btn:hover {
    background-color: #218838;
}

.alert {
    font-family: monospace;
    font-weight: bolder;
    font-size: 20px;
}