.inputs {
    width: 400px;
}

#loginform {
    background-color: rgba(151, 214, 168, 0.788);
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-top: 40px;
}


.navigate{
    text-decoration: none;
    font-weight: bolder;
    color: #0a5532;
  }


.login{
    border-radius: 30px;
    height: 40px;
    background-color: black;
    font-weight: bold;
    text-decoration: none;
    border: none;
}

.form_label{
    font-size: 18px;
}

.title{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 50px;
}