/* src/components/Layout.css */
.layout {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.header {
    height: 60px;
    background-color: #28a745;
    /* Green header color */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.content {
    display: flex;
    flex-grow: 1;
    margin-top: 60px;
    /* Push content below header */
}

.sidebar {
    width: 230px;
    padding-right: 15PX;
    background-color: #333;
    /* Sidebar color */
    height: calc(100vh - 60px);
    /* Adjust height based on header */
    position: fixed;
    top: 60px;
    /* Push sidebar below header */
    left: 0;
    z-index: 2;
}

.page-content {
    margin-left: 260px;
    padding: 10px;
    background-color: #ffffff;
    flex-grow: 1;
}